#board-update-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);

  .board-update-container {
    width: 75%;
    max-width: 996px;
    min-height: 950px;
    padding: 100px 24px;
    background-color: rgba(255, 255, 255, 1);

    .board-update-area {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .board-update-title-box {
        width: 100%;

        .board-update-title-textarea {
          width: 100%;
          border: none;
          outline: none;
          background: none;
          resize: none;
          color: rgba(0, 0, 0, 1);
          font-size: 32px;
          font-weight: 500;
          line-height: 140%;
        } // .board-update-title-textarea
      } // .board-update-title-box

      .board-update-content-area {
        display: flex;
        gap: 16px;
        width: 100%;

        .board-update-content-textarea {
          flex: 1;
          border: none;
          outline: none;
          background: none;
          resize: none;
          color: rgba(0, 0, 0, 0.7);
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
        } // .board-update-content-textarea
      } // .board-update-content-area

      .board-update-images-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .board-update-image-box {
          position: relative;
          width: 100%;

          .board-update-image {
            width: 100%;
          } // board-update-image

          .image-close {
            position: absolute;
            top: 20px;
            right: 20px;
            //background-color: rgba(0, 0, 0, 0.4);
          } // image-close
        } // .board-update-image-box
      } // .board-update-images-area
    } // .board-update-area
  } // .board-update-container
} // #board-update-wrapper
