body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.emphasis {
  font-weight: bolder;
}

.word-badge {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 6px 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
.word-badge:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.black-button {
  /* @include disabled-drag; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 30px;
  border-radius: 46px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}
.black-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.black-large-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 46px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}
.black-large-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.white-button {
  /* @include disabled-drag; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 46px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}
.white-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.disable-button {
  /* @include disabled-drag; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 30px;
  border-radius: 46px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: not-allowed;
}

.icon-box-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.icon-box-small .icon {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.icon-box-small .icon.expand-left-light-icon {
  background-image: url(assets/img/expand-left-light.png);
}
.icon-box-small .icon.expand-left-icon {
  background-image: url(assets/img/expand-left.png);
}
.icon-box-small .icon.expand-right-light-icon {
  background-image: url(assets/img/expand-right-light.png);
}
.icon-box-small .icon.expand-right-icon {
  background-image: url(assets/img/expand-right.png);
}

.icon-box-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.icon-box-large .icon {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.icon-box-large .icon.image-box-white-icon {
  background-image: url(assets/img/image-box-white-light.png);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.icon-box .icon {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.icon-box .icon.arrow-right-icon {
  background-image: url(assets/img/arrow-right.png);
}
.icon-box .logo-light-icon {
  background-image: url(assets/img/logo-light.png);
}
.icon-box .logo-dark-icon {
  background-image: url(assets/img/logo-dark.png);
}

.icon-button,
.auth-check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  cursor: pointer;
}
.icon-button:hover,
.auth-check-box:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.icon-button .icon,
.auth-check-box .icon {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.icon-button .icon.eye-light-off-icon,
.auth-check-box .icon.eye-light-off-icon {
  background-image: url(assets/img/eye-light-off.png);
}
.icon-button .icon.eye-light-on-icon,
.auth-check-box .icon.eye-light-on-icon {
  background-image: url(assets/img/eye-light-on.png);
}
.icon-button .icon.expand-right-light-icon,
.auth-check-box .icon.expand-right-light-icon {
  background-image: url(assets/img/expand-right-light.png);
}
.icon-button .icon.check-round-fill-icon,
.auth-check-box .icon.check-round-fill-icon {
  background-image: url(assets/img/check-round-fill.png);
}
.icon-button .icon.check-ring-light-icon,
.auth-check-box .icon.check-ring-light-icon {
  background-image: url(assets/img/check-ring-light.png);
}
.icon-button .icon.image-box-light-icon,
.auth-check-box .icon.image-box-light-icon {
  background-image: url(assets/img/image-box-light.png);
}
.icon-button .icon.close-icon,
.auth-check-box .icon.close-icon {
  background-image: url(assets/img/close.png);
}
.icon-button .icon.more-icon,
.auth-check-box .icon.more-icon {
  background-image: url(assets/img/more.png);
}
.icon-button .icon.favorite-fill-icon,
.auth-check-box .icon.favorite-fill-icon {
  background-image: url(assets/img/favorite-fill.png);
}
.icon-button .icon.favorite-light-icon,
.auth-check-box .icon.favorite-light-icon {
  background-image: url(assets/img/favorite-light.png);
}
.icon-button .icon.up-light-icon,
.auth-check-box .icon.up-light-icon {
  background-image: url(assets/img/expand-up-light.png);
}
.icon-button .icon.down-light-icon,
.auth-check-box .icon.down-light-icon {
  background-image: url(assets/img/expand-down-light.png);
}
.icon-button .icon.comment-icon,
.auth-check-box .icon.comment-icon {
  background-image: url(assets/img/chat-light.png);
}
.icon-button .icon.edit-icon,
.auth-check-box .icon.edit-icon {
  background-image: url(assets/img/edit-light.png);
}
.icon-button .insta-icon,
.auth-check-box .insta-icon {
  background-image: url(assets/img/insta.png);
}
.icon-button .git-icon,
.auth-check-box .git-icon {
  background-image: url(assets/img/git.png);
}
.icon-button .search-button-icon,
.auth-check-box .search-button-icon {
  background-image: url(assets/img/search-light.png);
}/*# sourceMappingURL=App.css.map */